:root {
    --white: #ffffff;
    --pink : #DD5555;
    --grey: #2E2E2E;
    --black: #000000;
}

*, *:after, *:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--grey);
}

.container{
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (min-width : 576px){
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width : 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width : 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width : 1200px) {
    .container {
        max-width: 1140px;
    }
}

section{
    padding-bottom: 4rem;
    padding-top: 4rem;
}

h1{
    text-align: center;
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 2rem;
}

h2{
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-weight: 600;
}

h3{
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: 600;
}

button {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    padding: .5rem .5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--white);
    color: var(--grey);
    transform: translateX(0);
    transition: all .2s ease-in-out;
}

button img {
    margin-right: .2rem;
}

button:hover,
button:focus {
    transform: translateY(-4px); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

/* Header */

.main-header {
    background-color: var(--pink);
    color: var(--white);
    font-size: 14px;
}

/* Navigation */

.main-nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center ;
}

.main-nav .logo{
    padding-right: 1rem;
    display: flex;
}

.burger-icon{
    display: none;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.main-nav .menu{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.menu a {
    display: block;
    color: currentColor;
    text-decoration: none;
    padding: 1rem;
}

.menu a:hover,
.menu a:focus{
    background-color: rgba(0, 0, 0, 0.24);
}

@media screen and (max-width : 576px){
    .main-nav{
        justify-content: space-between;
        padding: 1rem 0;
    }

    .main-nav .logo{
        flex: 1 0 50%;
        z-index: 100;
    }

    .burger-icon{
        display: block;  
        z-index: 100;
    }
    
    .main-nav .menu {
        position: absolute;
        top: 3.7rem;
        left: 0;
        right: 0;
        transform: translateY(-150%);
        transition: .4s all ease-in-out;
        flex-flow: column wrap;
        z-index: -1;
        background-color: var(--pink);
    }

    .menu.show{
        transform: translateY(0);
        z-index: 0;
    }
}

/* Section About */

.about {
    background-image: url(img/img/about.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.about .container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.about h1 span{
    margin-top: 1rem;
    display: block;
    text-transform: none;
    font-size: 24px;
    font-weight: 300;
}

.btn-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.btn-group::before{
    content: "";
    display: block;
    width: 95%;
    height: 1px;
    background-color: var(--white);
    margin-bottom: 1em;
}

@media screen and (max-width : 576px) {
    .btn-group {
        flex-flow: column wrap;
    }
}

.btn-group button {
    padding: .5rem 1rem;
    margin: .5rem ;
    cursor: pointer;
}

/* Section Services */

.services .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    gap: 1rem 1rem;
}

.services h2 {
    grid-column: span 3;
}

@media screen and (max-width : 768px) {
    .services .container {
        display: flex;
        flex-flow: column wrap;
    }
}

@media screen and (max-width : 992px){
    .services h2 {
        grid-column: span 2;
    }

    .services .container {
        grid-template-columns: 1fr 1fr;
        
    }
}

.card{
    grid-column: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 0 15px;
    text-align: center;
}

.card .picto{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--pink);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Section Equipe */

.equipe{
    padding-top: 0;
}

.equipe-header {
    background-image: url(img/img/team.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-bottom: 4rem;
    padding: 5rem 0;
    text-align: center;
}

.equipe-header h1 {
    text-transform: none;
    margin-bottom: 0;
}

.equipe .equipe-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

@media screen and (max-width : 768px) {
    .equipe .container {
        display: flex;
        flex-flow: column wrap;
    }
}

.card .avatar {
    width: 239px;
    height: 239px;
    border-radius: 100%;
    margin-bottom: 2rem;
}

.card button {
    background-color: var(--pink);
    color: var(--white);
}

/* Section Contact */

.contact {
    background-color: var(--pink);
    color: var(--white);
    margin-bottom: 0;
}

.contact .container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.contact form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 70%;
}

@media screen and (max-width : 768px) {
    .contact form {
        width: 100%;
    }
}

.champ {
    display: flex;
    flex-flow: column wrap;
    padding: .5rem;
    font-weight: 300;
} 

input,
textarea {
    width: 100%;
    border-radius: 2px;
    border: none;
    height: 2rem;
    padding: 0 .5rem;
}

.nom,
.mail{
    flex: 1 0 50%;
}

@media screen and (max-width : 768px) {
    .nom,
    .mail {
        flex: 1 0 100%;
    }
}

.message{
    flex: 1 0 100%;
}

.message textarea {
    height: 7rem;
}  

form button {
    justify-self: flex-end;
} 
